@import "../../../Pages/Styles/colors";

.Link {
  height: 30px;
  background-color: $orange;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  border-bottom: 1px solid $mainBgColor;
  &:last-child {
    border-bottom: none;
  }
  a {
    padding-left: 0.5rem;
    vertical-align: middle;
    text-decoration: none;
    color: $textColor;
  }
  .active {
    color: $mainBgColor;
  }
}
