@import "../../Pages/Styles/colors";

.Content {
  position: relative;
  height: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  z-index: -1;
  p {
    color: $textColor;
  }
}
