@import "../../Pages/Styles/colors";

.Content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;

  @media (min-width: 600px) {
    width: 60%;
    margin-left: auto;
  }

  p {
    color: $textColor;
  }
}
