.Home {
  .polygon {
    position: relative;
    top: 45px;
    height: 50vh;
    clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    .profile {
      width: 100%;
    }
  }
}
