.Home {
  margin: 60px 0;
  margin-bottom: 150px;

  .profile {
    margin: 1rem;
    clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
    .profileImage {
      width: 100%;
    }
  }

  .chevronDown {
    display: flex;
    margin: -1rem 1rem 1rem 1rem;
    div {
      margin: 0 -2.5px;
      padding: 0;
      width: 100%;
      border-top: 2px solid rgba(17, 10, 10, 0.6);
      transform: rotate(15deg);
      &:last-child {
        transform: rotate(-15deg);
      }
    }
  }

  .content {
    text-align: center;
    margin: 2rem 1rem;
    .quotes {
      min-height: 150px;
      display: flex;
      align-items: center;
    }
  }

  hr {
    margin: 1rem;
    border: 0;
    border-bottom: 2px dashed rgba(17, 10, 10, 0.6);
  }
}
