@import "../../Pages/Styles/colors";

.Skills {
  margin: 1rem;
  .icons {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    svg {
      color: $orange;
      &:nth-child(even) {
        color: $blue;
      }
    }
  }
}
