.info-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.info-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 300ms ease-in, opacity 300ms;
}
.info-exit {
  opacity: 1;
}
.info-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 200ms ease-in, opacity 200ms 75ms;
}
