@import "../../styles/colors";

.Card {
  margin-top: 2rem;
  border: 10px solid;
  border-image: linear-gradient(rgba(0, 0, 0, 0) 25%, $borderBlue) 5;
  @media (min-width: 600px) {
    margin: 3rem 10% 0 10%;
  }
  @media (min-width: 900px) {
    margin: 3rem 15% 0 15%;
  }
  @media (min-width: 1200px) {
    border: 1rem solid;
    border-image: linear-gradient(rgba(0, 0, 0, 0) 25%, $borderBlue) 5;
    margin: 4rem 20% 0 20%;
  }

  .image {
    min-height: 200px;
    min-width: 200px;
    border: 2px solid $textColor;
    box-sizing: border-box;
    @media (min-width: 600px) {
      border: none;
      min-height: 180px;
    }
    @media (min-width: 900px) {
      min-height: 200px;
    }
    @media (min-width: 1100px) {
      min-height: 250px;
    }
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  h4 {
    margin: 0;
    margin-left: auto;
    background-color: rgba($orange, 0.8);
    width: 40%;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid $mainBgColor;
    & a {
      color: $mainBgColor;
      text-decoration: none;
    }
  }
  .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-weight: bold;
    color: $mainBgColor;
    background-color: $borderBlue;
    .icon svg {
      width: 10px;
      height: 10px;
      border: 2px solid $mainBgColor;
      border-radius: 100%;
      padding: 3px;
    }
  }
}
