@import "../../Pages/Styles/colors";

.Card {
  margin: 1rem;
  img {
    width: 100%;
  }
  h4 {
    margin: 0;
    margin-left: auto;
    background-color: rgba($orange, 0.8);
    color: $mainBgColor;
    width: 40%;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid $mainBgColor;
  }
  figcaption {
    color: $textColor;
  }
}
