.Header {
  position: fixed;
  top: 0;
  height: 150px;
  width: 100%;
  z-index: 100;
  .polygon {
    position: relative;
    top: -66px;
    background-color: #221a1a;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
  }
  .title {
    position: relative;
    top: 10px;
    font-family: "Fira Sans", sans-serif;
    color: rgb(164, 164, 164);
    text-align: center;
    z-index: 200;
  }
  h1,
  h3 {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 200;
  }
}
