$fontColor: rgb(164, 164, 164);
$bgColor: rgb(17, 10, 10);

.Header {
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100%;
  .polygon {
    position: relative;
    top: -60px;
    height: 100%;
    width: 100%;
    background-color: $bgColor;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
  }
  .title {
    position: relative;
    top: 1rem;
    font-family: "Fira Sans", sans-serif;
    color: $fontColor;
    text-align: center;
    z-index: 100;
  }
  h1,
  h3 {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 200;
  }
}
