@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,200&display=swap");

.Header {
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100%;
}

.Header .polygon {
  position: relative;
  top: -38px;
  height: 100%;
  width: 100%;
  background-color: rgb(17, 10, 10);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
}

.Header .title {
  position: relative;
  top: 1rem;
  font-family: "Fira Sans", sans-serif;
  color: rgb(164, 164, 164);
  text-align: center;
  z-index: 100;
}

.Header h1,
.Header h3 {
  margin: 0;
  padding: 0;
}
