.Navbar {
  position: fixed;
  width: 100vw;
  bottom: 0;
  transition: none;
}

@media (min-width: 600px) {
  .Navbar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
    z-index: 300;
  }
}

@media (max-height: 600px) and (min-width: 1000px) {
  .Navbar {
    display: block;
    margin: 0 10%;
    width: 30%;
  }
}
