@import "../../Pages/Styles/colors";

.Footer {
  position: fixed;
  height: 100px;
  width: 70%;
  bottom: 0;
  right: 0;
  @media (min-width: 600px) {
    position: relative;
    height: 150px;
    width: 100%;
    background-color: $blue;
  }
  .polygon {
    height: 100%;
    width: 100%;
    background-color: $blue;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    @media (min-width: 600px) {
      display: none;
    }
  }
  .icons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 80px;
    font-size: 1.7rem;
    @media (min-width: 600px) {
      display: none;
    }
    .verticalIcons {
      margin: 0 5px;
      display: flex;
      flex-flow: column nowrap;
    }
    svg {
      margin: 5px;
      color: $mainBgColor;
    }
  }
}
