/* mobile  */
@media (max-width: 600px) {
  .Footer {
    height: 10%;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(74, 136, 135);
    clip-path: polygon(100% 0, 20% 100%, 100% 100%);
  }

  .Footer p {
    margin: 0;
    padding: 0;
  }
}
