:root {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fdf5e6;
  background: repeating-linear-gradient(
    60deg,
    #f5e8e8 0,
    #f5e8e8 2px,
    #fdf5e6 2px,
    #fdf5e6 9px
  );
}

@media (min-width: 600px) {
  body {
    background: linear-gradient(90deg, #efefef 40%, #ffe9d1 70%);
  }
}
