:root {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  background-color: #fdf5e6;
  background: repeating-linear-gradient(60deg, #f5e8e8 0 2px, #fdf5e6 0 9px);
}
